<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  ChannelFinder Directory Service
  %%
  Copyright (C) 2010 - 2012 Helmholtz-Zentrum Berlin für Materialien und Energie GmbH
  %%
  Copyright (C) 2010 - 2012 Brookhaven National Laboratory
  All rights reserved. Use is subject to license terms.
  #L%
  -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Add or Modify Channels</display-name>
        <web-resource-collection>
            <web-resource-name>create / update / delete channel(s)</web-resource-name>
            <description/>
            <url-pattern>/resources/channels/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ChannelMod</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Add or Modify Properties</display-name>
        <web-resource-collection>
            <web-resource-name>create / update / delete properties</web-resource-name>
            <description/>
            <url-pattern>/resources/properties/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>PropertyMod</role-name>
            <role-name>ChannelMod</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Add or Modify Tags</display-name>
        <web-resource-collection>
            <web-resource-name>create / update / delete tags</web-resource-name>
            <description/>
            <url-pattern>/resources/tags/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>TagMod</role-name>
            <role-name>PropertyMod</role-name>
            <role-name>ChannelMod</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>channelfinder</realm-name>
    </login-config>
    <security-role>
        <description>May add or modify channels</description>
        <role-name>ChannelMod</role-name>
    </security-role>
    <security-role>
        <description>May add or modify properties</description>
        <role-name>PropertyMod</role-name>
    </security-role>
    <security-role>
        <description>May add or modify tags</description>
        <role-name>TagMod</role-name>
    </security-role>
    <security-role>
        <description>Directory administrator</description>
        <role-name>Administrator</role-name>
    </security-role>
    <resource-ref>
        <res-ref-name>UserTransaction</res-ref-name>
        <res-type>javax.transaction.UserTransaction</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>jdbc:mysql://localhost/channelfinder</description>
        <res-ref-name>jdbc/channelfinder</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
