[Unit]
Description=ChannelFinder Service
After=network.target remote-fs.target

[Service]
user=channelfinder
EnvironmentFile=/etc/default/channelfinder
ExecStartPre=/bin/mkdir -p /tmp/channelfinder
ExecStartPre=/usr/bin/unzip -o /usr/share/channelfinder/ChannelFinder.jar MICRO-INF/deploy/ChannelFinder.war -d /tmp/channelfinder
ExecStartPre=/usr/bin/jar -uf /tmp/channelfinder/MICRO-INF/deploy/ChannelFinder.war -C /etc/channelfinder WEB-INF/classes/elasticsearch.yml
ExecStartPre=/usr/bin/jar -uf /usr/share/channelfinder/ChannelFinder.jar -C /tmp/channelfinder MICRO-INF/deploy/ChannelFinder.war
ExecStart=/usr/bin/java -Xmx2G -jar /usr/share/channelfinder/ChannelFinder.jar --sslport ${SERVICESSLPORT} --nocluster true --port ${SERVICEPORT} --prebootcommandfile /etc/channelfinder/asadmin_commands --logtofile /var/log/channelfinder/log.txt
ExecStop=/bin/kill -SIGINT $MAINPID
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
